extends layout

block content

  script 
    

  div(class="page-wrapper")

    nav(class="navbar" )
      a(href="/" class="navbar-title") Ye Olde Message Board

      div(class="navbar-links")

        if user 
          a(href="create-message" class="navbar-link") Posteth a Message

          if (!user.isMember)
            a(href="/member-access" class="navbar-link") View Secrets...

          a(href="/log-out" class="navbar-link") Logeth Out

        else 
          a(href="/login" class="navbar-link") Log In
          a(href="/sign-up" class="navbar-link") Sign Up

    

    div(class="page-greeting")
      if user 
        p Greetings #{user.username}, welcome to thy message board.

      else 
        p Greetings, Guest! Welcome to the Ye Olde Message Board. Create an account or log in to see more!


    div(class="messages")

      each message in message_list 

        div(class="message-container")

          div(class="message-container-left")
            img(src="assets/images/king.jpeg" class="message-avatar")

          div(class="message-container-right")

            div(class="message-container-right-upper")
              p(class="message-title") #{message.title}
              p #{message.message}

            div(class="message-container-right-lower")
              if (user && user.isMember)
                p Posted by #{message.author.username}

              else
                p Posted by Anonymous...

              if (user!== undefined && user.isAdmin)
                div(class="delete-message")
                  form(action='/' method='POST')
                    input#message_id(type="hidden", name="message_id" required="true", value=message._id)
                    button(type="submit") Delete Message
                
